@model PagedList.IPagedList<DataLayer.Entityes.JorResult>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "JorResults";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Результаты</title>
</head>
<body>
    <div>
        <h2>JorResults</h2>
  

        @using (Html.BeginForm("Index", "JorResult", FormMethod.Get))
        {
            <p>
                Find by Num: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
                <input type="submit" value="Search" />
            </p>
        }

        <table class="table">
            <tr>
                <th>
                    @Html.ActionLink("Дата Заказа", "Index", new { sortOrder = ViewBag.DateOrdSortParm, currentFilter = ViewBag.CurrentFilter })
                </th>
                <th>
                    @Html.ActionLink("Дата Отправки", "Index", new { sortOrder = ViewBag.DateSentSortParm, currentFilter = ViewBag.CurrentFilter })
                </th>
                <th>
                    @Html.ActionLink("Номер", "Index", new { sortOrder = ViewBag.NumSortParm, currentFilter = ViewBag.CurrentFilter })
                </th>
                <th>
                    Клиент
                </th>
                <th>
                    Услуга
                </th>
                <th>
                    Описание
                </th>
                <th>
                    Отправлено
                </th>
                <th></th>
            </tr>


            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateAdd)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateSent)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Num)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Client.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Good.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.CheckBox("isNewlyEnrolled", item.IsSent, new { @disabled = "disabled" })
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ResultId }) |
                        @*@Html.ActionLink("Edit", "EditModal", new { id = item.ClientId }, new { @class = "detailsModal" }) |*@
                        @Html.ActionLink("Details", "Details", new { id = item.ResultId }) 
                        @*@Html.ActionLink("Details", "DetailsModal", new { id = item.ClientId }, new { @class = "detailsModal" })*@
                    </td>
                </tr>
            }

        </table>
        <br />
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Index",
            new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

    </div>
</body>
</html>