@model PagedList.IPagedList<DataLayer.Entityes.DicClient>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Справочник клиентов";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Справочник клиентов</title>

</head>
<body>
    <div><span id="notification" style="color:red;font-size:15px;"></span></div>
    <div>
        <h3>Справочник клиентов</h3>
        <p>
            @*@Html.ActionLink("Create New", "Create")*@

            @Html.ActionLink("Добавление нового клиента", "CreateM", null, null, new { id = "btnCreate", @class = "btn btn-small btn-info" })
        </p>

        <div id='dialogDiv' class='modal fade' tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div id='dialogContent'></div>
                </div>
            </div>
        </div>

        <div id="modDialogDet" class='modal fade' tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div id="dialogContentDet" class="modal-dialog"></div>
        </div>

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")

            <script type="text/javascript">
                $(function () {

                    //Optional: turn the chache off
                    // Необязательно: выключить кеш
                    $.ajaxSetup({ cache: false });

                    $('#btnCreate').click(function () {
                        $('#dialogContent').load(this.href, function () {
                            $('#dialogDiv').modal({
                                backdrop: 'static',
                                keyboard: true
                            }, 'show');
                            bindForm(this);
                        });
                        return false;
                    });
                });

                function bindForm(dialog) {
                    $('form', dialog).submit(function () {
                        $.ajax({
                            url: this.action,
                            type: this.method,
                            data: $(this).serialize(),
                            success: function (result) {
                                if (result.success) {
                                    $('#dialogDiv').modal('hide');
                                    // Refresh:
                                    // location.reload();
                                } else {
                                    $('#dialogContent').html(result);
                                    bindForm();
                                }
                            }
                        });
                        return false;
                    });
                }
            </script>

            <script type="text/javascript">

                $(function () {
                    $.ajaxSetup({ cache: false });
                    $(".detailsModal").click(function (e) {

                        e.preventDefault();
                        $.get(this.href, function (data) {
                            $('#dialogContentDet').html(data);
                            $('#modDialogDet').modal('show');
                        });
                    });
                })
            </script>

            <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
            <!--Ссылка на автоматически сгенерированный скрипт хаба SignalR -->
            <script src="~/signalr/hubs"></script>
            <script type="text/javascript">
                $(function () {

                    var notificationhub = $.connection.notificationHub;

                    notificationhub.client.displayMessage = function (message) {

                        $('#notification').html(message);
                    };

                    $.connection.hub.start();

                });
            </script>

        }

        @using (Html.BeginForm("Index", "DicClients", FormMethod.Get))
        {
            <p>
                Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
                <input type="submit" value="Search" />
            </p>
        }

        <table class="table">
            <tr>
                <th>
                    @Html.ActionLink("Имя", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
                </th>
                <th>
                    Фамилия
                </th>
                <th>
                    @Html.ActionLink("Дата Рождения", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })
                </th>
                <th>
                    Пол
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Surname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BirthDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Gender.Type)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ClientId }) |
                        @*@Html.ActionLink("Edit", "EditModal", new { id = item.ClientId }, new { @class = "detailsModal" }) |*@
                        @*@Html.ActionLink("Details", "Details", new { id = item.ClientId }) |*@
                        @*@Html.ActionLink("Details", "DetailsModal", new { id = item.ClientId }, new { @class = "detailsModal" }) |*@
                        @Html.ActionLink("Delete", "Delete", new { id = item.ClientId })
                    </td>
                </tr>
            }

        </table>
        <br />
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Index",
            new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

    </div>
</body>
</html>